#main-div{
    width: 55%;
    border: 2px solid rgb(250, 235, 215);
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgb(250, 235, 215);
    font-size: 12px;   
}
td{
    font-size: 12px;  
}

#top-div, #bottom-div{
    display: flex;  
}

#top-left, #bottom-left{
    width:55%;
}
#top-right, #bottom-right{
    width:45%;
}

#table4 input[type=text]{
    width: 40%;
    float:right;
} 

fieldset{
    border-color: rgb(250, 235, 215);
}

input[type=text]{
    height: 20px;
    margin-bottom: 5px;
}

#top-right, #top-left, #bottom-right, #bottom-left{
    background-color: rgb(241, 168, 57); 
    margin: 10px  5px -4px 10px; 
    display: inline-block;
}

#tright-fset, #tleft-fset{
    height:110px;
}
#bright-fset, #bleft-fset{
    height: 146px;
}
#customerid, #price{
    width:100px;
}
#state, #quantity{
    width: 45px;
}
#retail{
    margin-left: 100px;
}
#ups, #fedex{
    margin-bottom: 25px;

}

#fedex{
    margin-left: 60px;
}
#fedexair{
    margin-left: 16px;
}
#quantity{
    float: right;
}
label[for=quantity]{
    margin-left: 55px;
}
#name, #partn, #descript{
    width: 260px;
}
button{
    background-color: rgb(241, 168, 57); 
    width: 12%;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
}

button#exit{
    float: right;
    margin-right: 10px;
}
   